.gridHeader {
    display: contents;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    user-select: none;
}

.gridHeader button {
    appearance: none;
    margin: 0;
    border-radius: 0;
    border: none;
    text-align: start;
    text-transform: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    color: inherit;
}

.gridHeader button:hover {
    color: var(--clr-secondary-text);
    background: none;
    box-shadow: none;
}

.gridHeader > * {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: inherit;
}
