.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 100vw;
    min-height: 100vh;
    padding: 40px;

    --c1: rgb(0, 16, 32, 0.5);
    --c2: rgb(0, 8, 16, 0.75);

    background-color: var(--clr-primary-bkg);
    background-image: radial-gradient(transparent 33%, var(--c1)), radial-gradient(transparent 10%, var(--c2));
    background-position: center center;
    background-size: cover;

    color: var(--clr-page-text-light);
    transition: opacity var(--anim-duration);
    opacity: 1;
    overflow-x: hidden;
}

.app .title {
    white-space: pre;
    text-align: center;
    line-height: 2;
}

.app .gridBody {
    display: grid;
    column-gap: 40px;
    row-gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--clr-primary-text);
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px) grayscale(25%) brightness(50%);
    box-shadow: var(--shd-tiny), var(--shd-soft), var(--shd-medium);
    overflow: hidden;
}

.app .gridBody.combos {
    grid-template-columns: repeat(3, minmax(120px, auto)) repeat(3, minmax(40px, auto)) 120px;
}

.app .gridBody.scores {
    grid-template-columns: repeat(5, minmax(120px, auto));
}

.app .gridCell {
}

.app .gridCell.header {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    text-align: start;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: bold;
    background: none;
    color: inherit;
}

.app .gridCell.desc {
}

.app .gridCell.Common {
    color: peru;
}

.app .gridCell.Uncommon {
    color: silver;
}

.app .gridCell.Rare {
    color: gold;
}

.app .gridCell.Epic {
    color: plum;
}
